.banner-single-page {
  background: var(--neutral-color);
  opacity: 0.8;
  margin: auto;
}
.article_wrapper {
  color: var(--font-color);
  font-size: 18px;
  text-align: center;
  left: 40%;
  padding: 5px;
}
.detail_content_container {
  max-width: 1200px;
  margin: 70px auto;
}
.detail-wrapper {
  margin-top: 50px;
}
.detail_page_image {
  width: 100%;
  cursor: pointer;
}
.detail_page_image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.detail_width {
  max-width: 80%;
  margin: 70px auto 0;
}
.big-image_container {
  position: relative;
}
.big-size_image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--font-color);
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
}
.big-size_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--neutral-color);
  max-width: 70%;
}
.left-side {
  padding-bottom: 10px;
}
.right-side {
  padding-bottom: 10px;
}
.content,
header {
  width: 60%;
  margin: 0 auto;
}
.content img {
  max-width: 100%;
}
li.category-title {
  border: 1px solid;
}
